version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"

    schedule:
      interval: "daily"
      time: "03:00"
      timezone: "UTC"

    open-pull-requests-limit: 5
    rebase-strategy: "auto"

    assignees:
      - "Aasyaco"

    reviewers:
      - "Aasyaco"

    labels:
      - "dependencies"
      - "github-actions"
      - "ci"

    commit-message:
      prefix: "ci(deps)"
      include: "scope"

    groups:
      security-updates:
        applies-to: security-updates

      minor-and-patch:
        update-types:
          - "minor"
          - "patch"

      major-updates:
        update-types:
          - "major"
